---
import Layout from "../../layouts/Layout.astro";
import Header from "../../layouts/Header.astro";

const pageTitle = `Home`;
---

<Layout pageTitle={pageTitle} idName="main">
	<Header type="main" />

	<section class="box1">
		<div class="all-center">
			<div class="info">
				<h2 class="com-title">About Us</h2>
				<div class="text-wrap">
					<p>
						R2D is headquartered in South Korea, located in the outskirts of the
						Seoul metropolitan area. <br /> However, our presence and support
						are expanding globally, with a focus on countries such as the EU and
						India.
					</p>
					<p>
						As a technology-oriented company, our main emphasis is on solution
						research and development. <br />
						 Our team consists of highly experienced and passionate engineers
						and researchers from diverse backgrounds.
					</p>
					<p>
						One of our key strengths lies in our deep understanding of the
						automotive industry's requirements and procedures, which positions
						us strongly in the market. <br />
						 We recognize the vast opportunities presented by software-based
						solutions in the automotive industry, and we are at the forefront of
						this transformation.
					</p>
					<p>
						We believe that even the greatest achievements begin with small
						beginnings, and R2D is poised to have a significant impact on the
						automotive industry.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="box2">2</section>
	<section class="box3">3</section>
	<section class="box4">4</section>

	<ul id="navi">
		<li><span>About us</span></li>
		<li><span>5 Things about</span></li>
		<li><span>History</span></li>
		<li><span>Company Location</span></li>
	</ul>
</Layout>
