// 작업
.sub-info .intro-menu01 {
	text-align: center;

	.intro-img01 {
		height: 42.75rem;
		width: 42.75rem;
	}

	.intro-img02 {
		height: 42.625rem;
		margin-top: 80px;
		padding: 40px 60px;
		border: 1px solid #e5e5e5;
	}

	img {
		width: 100%;
	}
}

.sub-info .intro-menu02 {
	display: flex;
	.intro-advantages-wrap {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		&.perfor {
			gap: 26px;
			margin-right: 40px;
		}
		&.proven {
			gap: 38px;
			margin: 56px 35px 0 0;
		}
		&.advan {
			margin-top: 167px;
		}

		.intro-advantages__item {
			width: 370px;
			height: 365px;
			background: #f6f6f6;
			padding: 25px 30px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.icon {
				width: 90px;
				height: 90px;
			}

			.ico-perfor {
				background: url(../../img/ico06.svg);
			}
			.ico-proven {
				background: url(../../img/ico07.svg);
			}
			.ico-advan {
				background: url(../../img/ico08.svg);
			}
			.ico-flex {
				background: url(../../img/ico10.svg);
			}
			.ico-progress {
				background: url(../../img/ico12.svg);
			}

			p {
				font-size: 30px;
				line-height: 45px;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100px;
				color: #222222;
			}
			.intro-advantages__list {
				margin-top: 21px;
				li {
					font-size: 16px;
					line-height: 24px;
					padding: 5px;
					position: relative;
					color: #222222;

					&::before {
						content: "";
						background: #a265ca;
						width: 5px;
						height: 5px;
						position: absolute;
						left: -10px;
						top: 15px;
					}
				}
			}
		}
	}
}

.sub-info .intro-menu03 {
	p {
		font-size: 24px;
		color: #777777;
		line-height: 36px;
		font-weight: 500;
		text-align: center;
	}
	.radio-wrap {
		margin-top: 57px;
		display: flex;
		flex-wrap: wrap;
		gap: 38px;

		.radio-card {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			flex: calc(30%);
			border: 1px solid #e5e5e5;
			padding: 20px;

			.icon-wrap {
				display: flex;
				gap: 45px;
			}

			.icon {
				width: 140px;
				height: 65px;
				margin-top: 9px;

				&.ico-am {
					background-image: url(../../img/Partner_logo01.svg);
				}
				&.ico-dab {
					background: url(../../img/Partner_logo02.svg);
				}
				&.ico-drm {
					background: url(../../img/Partner_logo03.svg);
				}
				&.ico-hdr {
					background: url(../../img/Partner_logo04.svg);
				}
				&.ico-cdr {
					background: url(../../img/Partner_logo05.svg);
				}
				&.ico-ip {
					background: url(../../img/Partner_logo06.svg);
				}
				&.ico-radio {
					background: url(../../img/Partner_logo07.svg);
				}
			}

			.top-title {
				font-size: 30px;
				line-height: 45px;
				color: #222222;
				text-align: center;
			}

			.mid-title {
				height: 75px;
				font-size: 24px;
				line-height: 36px;
				color: inherit;
				margin: 15px 0;
				display: flex;
				align-items: center;
				justify-content: center;
				word-wrap: break-word;
			}

			.con-txt {
				font-size: 16px;
				line-height: 24px;
				color: inherit;
				text-align: left;
				margin-bottom: 12px;
				word-wrap: break-word;
			}
			.con-txt-gray {
				font-size: 14px;
				line-height: 21px;
				color: #999999;
			}
		}
	}
}

.sub-info {
	.img-type {
		p {
			font-size: 25px;
			font-weight: 500;
			color: #f29f05;
			line-height: 37px;
			margin-bottom: 34px;
			text-align: center;
		}

		img {
			width: 100%;
		}
	}
}

.sub-info {
	.sw-type {
		display: flex;
		padding: 25px 25px 36px;
		background: #d9e2eb;
		width: 100%;

		img {
			width: 100%;
		}

		.sw-type-wrap {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 39px 36px 40px;

			.sw-type-tit {
				font-size: 32px;
				font-weight: 500;
				line-height: 47px;
				margin-bottom: 16px;

				span {
					color: #f29f05;
				}
			}
			.sw-type-txt {
				font-size: 16px;
				line-height: 25px;
				font-weight: 400;
			}
		}
	}
	.ico-wave {
		background: url(../../img/ico-wave.svg);
		width: 260px;
		height: 100px;
	}
}

.sub-info {
	.table-type {
		display: flex;
		background: #1f2833;
		border-radius: 15px;
		padding: 20px;

		.con-left-wrap {
			padding: 33px 25px 0 5px;
			text-align: center;
			p {
				font-size: 32px;
				font-weight: 500;
				line-height: 47px;
				color: #fff;
				margin-bottom: 24px;
			}
		}
		.con-right-wrap {
			display: flex;
			flex-direction: column;
			background: #fff;

			.role-table-wrap table {
				width: 100%;
				th,
				td {
					height: 40px;
					text-align: center;
					font-size: 16px;
					line-height: 24px;
					border-right: 1px solid #fff;
					border-bottom: 1px solid #fff;
					padding: 7px;

					&:last-child {
						border-right: none;
					}
					&:last-child {
						border-left: 1px solid #fff;
					}
				}
				th {
					font-size: 18px;
					font-weight: 600;
					color: #fff;
				}
				thead tr:nth-child(even) {
					background: #ba8dd8;
				}
				thead tr:nth-child(odd) {
					background: #a265ca;
				}
				tbody tr:nth-child(even) {
					background: #e8d9f2;
				}
				tbody tr:nth-child(odd) {
					background: #f3ecf8;
				}
			}
		}
		.note-wrap {
			padding: 32px 30px 25px;

			p {
				font-size: 18px;
				color: #222222;
				line-height: 26px;
				font-weight: 500;
				border-bottom: 1px solid #ebebeb;
				padding-bottom: 17.5px;
			}
			ul {
				padding-top: 17.5px;
				font-size: 0;

				li {
					font-size: 16px;
					color: initial;
					line-height: 24px;
					padding-bottom: 12px;
					&::before {
						content: "";
						display: inline-block;
						background: url(../../img/ico-check.svg);
						width: 12px;
						height: 12px;
						margin-right: 8px;
					}
				}
			}
		}
	}
}
.sub-info .solu-menu09.table-type {
	.con-left-wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.role-table-wrap table {
		thead tr:nth-child(odd) {
			background: #428dff;
		}
		thead tr:nth-child(even) {
			background: #7aafff;
		}
		tbody tr:nth-child(odd) {
			background: #d9e8ff;
		}
		tbody tr:nth-child(even) {
			background: #c6dcff;
		}
	}
}

.sub-info .solu-menu09 {
	.tab-list {
		display: flex;
		gap: 5px;
		cursor: pointer;
		.tab-button {
			padding: 26px 15px;
			width: 236px;
			font-size: 16px;
			line-height: 24px;
			border: 1px solid #412859;
			border-bottom: none;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			text-align: center;

			&.on {
				background: #412859;
				color: #fff;
			}
		}
	}

	.tab-content-wrap {
		display: none;
		&.show {
			display: block;
		}
	}
	.tab-content {
		display: flex;
		justify-content: space-between;
		background: #412859;
		padding: 40px 50px;
		align-items: center;

		.con-left-wrap {
			.tit {
				font-size: 32px;
				line-height: 42px;
				font-weight: 500;
				color: #fff;
				margin-bottom: 10px;

				&.line-height {
					line-height: 60px;
				}

				span {
					font-size: 40px;
				}
			}
			.txt {
				display: flex;
				gap: 12px;
				li {
					font-size: 16px;
					color: #fff;
					span {
						font-weight: 600;
						color: #f29f05;
					}
				}
			}
		}

		img {
			width: 620px;
			height: 620px;
		}
	}
}

@media (max-width: map-get($media-size,smallDesk)) {
}
@media (max-width: map-get($media-size,tablet)) {
}
@media (max-width: map-get($media-size,largeMo)) {
}
// 작업 eee
