---
import Layout from "../../layouts/Layout.astro";
import Header from "../../layouts/Header.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubContent from "../../components/SubContent.astro";
import SubBanner from "../../components/SubBanner.astro";
import SubMenu from "../../components/SubMenu.astro";
import SubCntBox from "../../components/SubCntBox.astro";
import { technologyMenuItems } from "../../data/menus/technologyMenu3.js";
import "../../css/ui.css";

const pageTitle = `Home > Technology`;
---

<Layout pageTitle={pageTitle} idName="Technology">
	<Header type="sub" />
	<SubBanner title="Technology" bgUrl="bg-intro" />
	<SubLayout>
		<SubMenu items={technologyMenuItems} />
		<SubContent>
			<!-- TODO 콘텐츠를 추가 내용 작성 -->
			<div id="wrap2">
				<SubCntBox subCntTit="Evolution of Infotainment System" id="box0">
					<img data-aos="fade-up" src="../img/future-img01.jpg" alt="" style="width:100%;">
				</SubCntBox>
			</div>
			<!-- 콘텐츠를 추가 내용 작성 eee -->
		</SubContent>
	</SubLayout>
</Layout>
