---
import Layout from "../../layouts/Layout.astro";
import Header from "../../layouts/Header.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubContent from "../../components/SubContent.astro";
import SubBanner from "../../components/SubBanner.astro";
import SubMenu from "../../components/SubMenu.astro";
import SubCntBox from "../../components/SubCntBox.astro";
import { introMenu } from "../../data/menus/introMenu.js";

const pageTitle = `Home > Introduction`;
---

<Layout pageTitle={pageTitle} idName="Introduction">
   <Header type="sub" />
   <SubBanner title="Introduction" bgUrl="bg-intro" />
   <SubLayout>
      <SubMenu items={introMenu} />
      <SubContent>
         <!-- TODO 콘텐츠를 추가 내용 작성 -->
         <div id="wrap2" class="intro">
            <SubCntBox subCntTit="What is Possible with SDR?" id="box0">
               <div class="intro-menu01">
                  <img data-aos="zoom-in" src="../../img/img01.png" alt="" class="intro-img01" />
                  <picture>
                     <source media=`(max-width:600px)` srcset="../img/img02-mo.png">
                     <img data-aos="fade-up" data-aos-delay="10W0"  src="../../img/img02.png" alt="" class="intro-img02" />
                  </picture>
                  <img data-aos="fade-up" data-aos-delay="10W0"  src="../../img/mo-img02.png" alt="" class="intro-mo-img02" />
               </div>
            </SubCntBox>
            <SubCntBox subCntTit="Advantages of R2D’s SDR Approach" id="box1">
               <div class="intro-menu02">
                  <div class="intro-advantages-wrap perfor">
                     <div class="intro-advantages__item" data-aos="fade-up" >
                        <div class="icon ico-perfor"></div>
                        <p>Performance</p>
                        <ul class="intro-advantages__list" data-aos="fade-up" >
                           <li>Optimized Resource Usage</li>
                           <li>Beyond Chipset Performance</li>
                           <li>EV Ready Adv. Functions</li>
                        </ul>
                     </div>
                     <div class="intro-advantages__item" data-aos="fade-up" data-aos-delay="10" >
                        <div class="icon ico-flex"></div>
                        <p>Flexibility</p>
                        <ul class="intro-advantages__list" data-aos="fade-up" >
                           <li>No Warehouse, No Shortage</li>
                           <li>No Problem to any Change Requests</li>
                           <li>Any custom feature development</li>
                        </ul>
                     </div>
                  </div>
                  <div class="intro-advantages-wrap proven">
                     <div class="intro-advantages__item" data-aos="fade-up" data-aos-delay="20"  >
                        <div class="icon ico-proven"></div>
                        <p>Proven Reliability</p>
                        <ul class="intro-advantages__list" data-aos="fade-up">
                           <li>Field Proven Reliability</li>
                           <li>Stable operation under highly stressed environment</li>
                           <li>Mass produced by reputable OEMs</li>
                        </ul>
                     </div>
                     <div class="intro-advantages-wrap">
                        <div class="intro-advantages__item" data-aos="fade-up" data-aos-delay="30" >
                           <div class="icon ico-progress"></div>
                           <p>Progressively Less Cost. Cost? Cost!</p>
                           <ul class="intro-advantages__list" data-aos="fade-up">
                              <li>Same H/W for All Standards</li>
                              <li>Fraction of Chipset Cost</li>
                              <li>Greater savings on complex systems</li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="intro-advantages-wrap advan">
                     <div class="intro-advantages__item" data-aos="fade-up" data-aos-delay="40">
                        <div class="icon ico-advan"></div>
                        <p>Advance Roadmap</p>
                        <ul class="intro-advantages__list" data-aos="fade-up">
                           <li>Enhanced & Immersive User Experience</li>
                           <li>Streaming Service, IVI Personalization</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </SubCntBox>

            <SubCntBox subCntTit="Radio Solutions" id="box2">
               <div class="intro-menu03">
                  <p>Complete Global Radio Solutions</p>
                  <div class="radio-wrap">
                     <div class="radio-card" data-aos="fade-up">
                        <ul>
                           <li class="top-title" ><span>AM/FM</span></li>
                           <li>
                              <p class="mid-title" data-aos="fade-up" data-aos-delay="200">Global Analog Radio Standard*</p>
                           </li>
                           <li>
                              <p class="con-txt" data-aos="fade-up" data-aos-delay="400">
                                 Offering a full scale SDR transformation opportunity by
                                 adding analog AM/FM solution.
                              </p><span class="con-txt-gray"
                                 >* Conditions may apply for AM/FM SDR solution</span
                              >
                           </li>
                        </ul>
                        <div class="icon ico-am"></div>
                     </div>
                     <div class="radio-card" data-aos="fade-up">
                        <ul>
                           <li class="top-title"><span>DAB</span></li>
                           <li>
                              <p class="mid-title" data-aos="fade-up" data-aos-delay="200">European Digital Radio Standard</p>
                           </li>
                           <li>
                              <p class="con-txt" data-aos="fade-up" data-aos-delay="400">
                                 Providing the most comprehensive and price competitive
                                 solution in the market. Shows superior performance and
                                 flexibility.
                              </p>
                           </li>
                        </ul>
                        <div class="icon ico-dab"></div>
                     </div>
                     <div class="radio-card" data-aos="fade-up">
                        <ul>
                           <li class="top-title"><span>DRM</span></li>
                           <li>
                              <p class="mid-title" data-aos="fade-up" data-aos-delay="200">India, Russia and many other countries Digital Radio Standard</p>
                           </li>
                           <li>
                              <p class="con-txt" data-aos="fade-up" data-aos-delay="400">
                                 It performs second to none. No other solutions can show
                                 the same competitiveness.
                              </p>
                           </li>
                        </ul>
                        <div class="icon ico-drm"></div>
                     </div>
                     <div class="radio-card" data-aos="fade-up">
                        <ul>
                           <li class="top-title"><span>HDR</span></li>
                           <li>
                              <p class="mid-title" data-aos="fade-up" data-aos-delay="200">
                                 North and Central American Digital Radio Standard
                              </p>
                           </li>
                           <li>
                              <p class="con-txt" data-aos="fade-up" data-aos-delay="400">
                                 Offering unique advanced features that no other SDR
                                 providers can provide. An official HDR integrator by
                                 Xperi®
                              </p>
                           </li>
                        </ul>
                        <div class="icon ico-hdr"></div>
                     </div>
                     <div class="radio-card" data-aos="fade-up">
                        <ul>
                           <li class="top-title"><span>CDR</span></li>
                           <li><p class="mid-title" data-aos="fade-up" data-aos-delay="200">China Digital Radio Standard</p></li>
                           <li>
                              <p class="con-txt" data-aos="fade-up" data-aos-delay="400">
                                 No other automotive solution is available. The only and
                                 the best automotive solution in the market and we will
                                 make sure of it.
                              </p>
                           </li>
                        </ul>
                        <div class="icon ico-cdr"></div>
                     </div>
                     <div class="radio-card" data-aos="fade-up">
                        <ul>
                           <li class="top-title"><span>IP Radio</span></li>
                           <li>
                              <p class="mid-title" data-aos="fade-up" data-aos-delay="200">Streaming Radio</p>
                           </li>
                           <li>
                              <p class="con-txt" data-aos="fade-up" data-aos-delay="400">
                                 For connected cars, it is essential to have another way to
                                 listen the radio over communication channel when there is
                                 no broadcasting signal available.
                              </p>
                           </li>
                        </ul>
                        <div class="icon-wrap">
                           <div class="icon ico-ip"></div>
                           <div class="icon ico-radio"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </SubCntBox>
            <SubCntBox subCntTit="Solutions Portfolio" id="box3">
               <div class="intro-menu04">
                  <img src="../img/img03.png" alt="" / data-aos="fade-up" data-aos-delay="100">
               </div>
            </SubCntBox>
         </div>
         <!-- 콘텐츠를 추가 내용 작성 eee -->
      </SubContent>
   </SubLayout>
</Layout>