---
import Layout from "../../layouts/Layout.astro";
import Header from "../../layouts/Header.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubContent from "../../components/SubContent.astro";
import SubBanner from "../../components/SubBanner.astro";
import SubMenu from "../../components/SubMenu.astro";
import SubCntBox from "../../components/SubCntBox.astro";
import { introMenu } from "../../data/menus/introMenu.js";

const pageTitle = `Home > Introduction`;
---

<Layout pageTitle={pageTitle} idName="Introduction">
	<Header type="sub" />
	<SubBanner title="Introduction" bgUrl="bg-intro" />
	<SubLayout>
		<SubMenu items={introMenu} />
		<SubContent>
			<!-- TODO 콘텐츠를 추가 내용 작성 -->
			<div id="wrap2">
				<SubCntBox subCntTit="What is Possible with SDR?" id="box0">
					<div class="intro-menu01">
						<img src="../../img/img01.png" alt="" class="intro-img01" />
						<img src="../../img/img02.png" alt="" class="intro-img02" />
					</div>
				</SubCntBox>
				<SubCntBox subCntTit="Advantages of R2D’s SDR Approach" id="box1">
					<div class="intro-menu02">
						<div class="intro-advantages-wrap">
							<div class="intro-advantages__item perfor">
								<div class="icon ico-perfor"></div>
								<p>Performance</p>
								<ul class="intro-advantages__list">
									<li>Optimized Resource Usage</li>
									<li>Beyond Chipset Performance</li>
									<li>EV Ready Adv. Functions</li>
								</ul>
							</div>
							<div class="intro-advantages__item proven">
								<div class="icon ico-proven"></div>
								<p>Proven Reliability</p>
								<ul class="intro-advantages__list">
									<li>Field Proven Reliability</li>
									<li>Stable operation under highly stressed environment</li>
									<li>Mass produced by reputable OEMs</li>
								</ul>
							</div>
							<div class="intro-advantages__item advan">
								<div class="icon ico-advan"></div>
								<p>Advance Roadmap</p>
								<ul class="intro-advantages__list">
									<li>Enhanced & Immersive User Experience</li>
									<li>Streaming Service, IVI Personalization</li>
								</ul>
							</div>
							<div class="intro-advantages__item flex">
								<div class="icon ico-flex"></div>
								<p>Flexibility</p>
								<ul class="intro-advantages__list">
									<li>No Warehouse, No Shortage</li>
									<li>No Problem to any Change Requests</li>
									<li>Any custom feature development</li>
								</ul>
							</div>
							<div class="intro-advantages__item mt38">
								<div class="icon ico-progress"></div>
								<p>Progressively Less<br /> Cost. Cost? Cost!</p>
								<ul class="intro-advantages__list">
									<li>Same H/W for All Standards</li>
									<li>Fraction of Chipset Cost</li>
									<li>Greater savings on complex systems</li>
								</ul>
							</div>
						</div>
					</div>
				</SubCntBox>

				<SubCntBox subCntTit="Radio Solutions" id="box2">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis
					quod dignissimos earum quidem molestiae obcaecati consequatur tempore
					saepe cum. Quisquam, exercitationem corporis similique fuga delectus
					harum assumenda sunt. Deleniti ullam, excepturi, minima voluptatem
					debitis nisi quam perferendis aliquam delectus esse eligendi! Fugit
					itaque distinctio atque earum, illum, voluptatem possimus eum
					temporibus eveniet nisi ratione aspernatur perferendis ea laudantium
					deleniti culpa neque dolorem ex, nulla nam deserunt doloribus magnam
					ipsam fuga. Consequuntur enim consectetur sint! Explicabo, temporibus
					natus possimus nostrum quam nam eveniet, culpa tenetur facilis sed
					architecto itaque officiis soluta, perspiciatis doloribus
					reprehenderit assumenda nulla voluptatibus consequatur? Soluta
					corporis doloribus, perspiciatis et iure suscipit odio delectus nemo
					voluptatibus minus commodi debitis accusamus qui vitae. Totam nesciunt
					doloribus alias? Reprehenderit asperiores quis repellat similique
					dolorum iusto aspernatur amet consequuntur distinctio, veritatis rerum
					optio neque! Provident aut quis ab. Id quam praesentium atque iure
					veritatis temporibus incidunt consectetur mollitia corrupti pariatur,
					sint dolores excepturi quae error soluta quas eaque consequuntur
					maiores iste vero amet? Esse ex molestias alias? Perspiciatis
					dignissimos a quam obcaecati voluptatum repellat, fugiat, possimus
					inventore ipsam deserunt, animi dolores blanditiis voluptas. Ad
					provident tempora distinctio facere facilis maxime quis odio! Non
					dolorum iure vero, cum perferendis distinctio a, corrupti vel,
					laudantium expedita fugiat. Est perferendis molestias vitae alias sint
					cupiditate qui iusto culpa atque eveniet vero eum facilis debitis
					minima, vel placeat nisi deserunt molestiae veritatis fuga! Voluptates
					porro velit qui quia officiis eum deleniti nulla expedita excepturi,
					perspiciatis beatae, rem sunt ab odit! Odit ipsa, corporis minus
					consequatur id harum consectetur nesciunt eveniet doloribus amet,
					consequuntur modi atque sunt, magni quibusdam odio unde! Nisi et autem
					sunt dolorem ex dolorum libero. Sed nesciunt aspernatur neque rem
					fugit voluptatum fuga autem, accusantium tempora odio illum error
					corrupti earum aut repellat culpa! Quia veritatis tempora nulla
					consequatur odio doloribus! Sapiente numquam dignissimos explicabo
					quos nisi modi perferendis adipisci itaque accusamus voluptate eum
					nesciunt delectus accusantium molestiae impedit cum maxime vero odit
					ratione enim, provident ipsum. Deserunt nostrum molestiae veniam
					quidem nam harum facere quas eos repellat. Ratione ad corrupti magni
					omnis quibusdam in neque voluptate dolor atque deserunt sit nobis
					aliquid beatae assumenda dicta cum, consequatur voluptatibus ullam
					iure qui accusantium. Adipisci, facilis quasi. Error reiciendis magnam
					atque modi? Quisquam, quidem debitis assumenda blanditiis iusto porro
					corporis. Voluptate velit doloribus quaerat, impedit, iusto ratione,
					enim nostrum odio temporibus quo veritatis unde delectus. Magnam
					corrupti fugit minus quod quae accusamus quasi accusantium?
					Accusantium, commodi, explicabo autem eligendi iure rem quis
					necessitatibus beatae, aperiam ipsam provident assumenda reiciendis
					molestiae facilis est eaque? Itaque nobis laborum placeat quidem
					obcaecati, corporis necessitatibus cumque minus numquam magni
					quibusdam non facere, veritatis neque id ipsum commodi sunt
					perspiciatis atque vitae nesciunt praesentium eveniet. Architecto
					molestias, accusantium voluptatibus animi doloribus veritatis possimus
					blanditiis autem esse nam eaque ullam maiores eius numquam error
					laboriosam facere rem! Eos, aperiam, et ab odit quibusdam sint omnis
					ducimus rerum enim ipsum laudantium ea ullam ex natus eum modi quae
					officia! Deleniti nemo quo accusamus inventore, adipisci culpa quod
					asperiores aperiam. Eum minus nulla architecto ex nobis nesciunt quo
					facere cum, dolores adipisci, neque magni! Perferendis laboriosam
					dicta aspernatur, est voluptate dolores quia itaque nemo officiis
					explicabo commodi fugit? Harum quas officia est placeat soluta vitae
					corrupti expedita sapiente mollitia provident porro, necessitatibus
					omnis autem asperiores exercitationem magni sunt officiis eveniet
					laudantium totam magnam temporibus recusandae ullam non. Error
					distinctio ducimus saepe quam nam nobis quod quo exercitationem
					perferendis, nihil iure fuga quis minus dolore architecto quaerat at
					quasi placeat dolor rerum ut voluptatibus atque numquam. Tempora
					laudantium fuga quasi voluptatem, quis minus provident ipsa ad aperiam
					cum quae iste atque accusantium, modi perspiciatis eligendi omnis iure
					quisquam veniam voluptate temporibus sunt voluptates adipisci minima?
					Culpa quas quam tempora, reiciendis libero architecto facere
					accusantium, eaque blanditiis commodi molestias quisquam quos!
					Officiis totam consequuntur nostrum repudiandae impedit, nobis maiores
					sequi suscipit tenetur reiciendis, nemo dolorum quaerat eos
					reprehenderit sit aliquid facilis voluptas cum cupiditate animi aut.
					Perferendis fugit blanditiis possimus eos laudantium officia
					exercitationem delectus expedita inventore ex amet quisquam iure sit
					incidunt, nostrum omnis, voluptates ipsa ratione placeat a nisi nulla,
					deleniti praesentium. Odio nobis laboriosam consectetur est
					consequatur labore vel aliquid! Laboriosam nostrum iste hic rem porro
					voluptate autem blanditiis similique consequuntur officiis perferendis
					culpa, exercitationem, veniam temporibus ipsa? Doloremque iste ullam
					magnam ea minima. Cumque fugit itaque deleniti vitae incidunt
					reiciendis expedita a blanditiis, minus quasi iste magni, veniam
					porro! Distinctio magnam placeat, assumenda facilis id minima, esse
					perspiciatis deserunt quidem reprehenderit quisquam alias optio
					molestias amet. Accusantium aut commodi sapiente ipsa inventore
					corrupti possimus itaque minima aliquam blanditiis perspiciatis quae
					nam odio aspernatur, corporis magni eius voluptatum quasi perferendis
					soluta. Aliquid autem nesciunt id, impedit, ipsa culpa officiis
					nostrum aliquam inventore, illo cumque ratione. Ut atque eum quasi
					doloribus alias totam et possimus veritatis qui, dolores architecto
					labore, quos magni optio est ex. Maiores pariatur nulla quis
					repellendus id soluta laborum rem, excepturi ipsum atque laboriosam.
					Pariatur at reiciendis dolorum. Alias quidem earum nihil dolorum
					exercitationem commodi deleniti quibusdam, expedita doloribus
					obcaecati nisi atque autem voluptas corporis iste suscipit repellendus
					omnis, dicta perspiciatis. Illo voluptate alias commodi repudiandae
					qui corporis dolore quisquam, reprehenderit sint, suscipit quis
					provident illum possimus facilis impedit aut voluptatem? Error numquam
					culpa quisquam, voluptate minima deserunt vitae saepe modi eos
					assumenda possimus soluta porro necessitatibus eius repudiandae fugiat
					ut eum in beatae repellat aut! Eius voluptate consectetur laboriosam,
					quo cumque inventore perferendis iure sed dolor error ipsam culpa
					distinctio esse tempora, unde quas. Doloribus a sapiente quia fugit
					explicabo eius debitis voluptatum aliquid voluptas maiores doloremque,
					blanditiis quidem ea unde reiciendis deleniti minima eaque itaque
					voluptatem minus odit, quaerat laborum voluptatibus repellendus?
					Possimus optio doloribus vel ducimus enim hic qui sequi? Vel esse nemo
					maxime laborum perspiciatis dolor ullam laboriosam sequi quasi. Nisi
					eius, quaerat consectetur tenetur neque reprehenderit hic, ex facilis
					deserunt dignissimos corporis perspiciatis cum temporibus at natus,
					blanditiis fuga ea molestiae! Nobis repellat beatae iusto est.
					Architecto commodi nobis praesentium modi quod accusantium velit iure
					qui ipsam suscipit, delectus quasi voluptates doloremque ad soluta
					nemo minima distinctio similique at! Ullam deserunt adipisci non unde
					incidunt, blanditiis reiciendis magnam esse quia autem, porro eos
					iure, facilis numquam. Quod, iste hic at quibusdam inventore id
					maiores blanditiis assumenda obcaecati natus asperiores perferendis in
					tempora quaerat enim consequatur eligendi totam, corrupti magni, eum
					vitae! Temporibus, sint cumque. Aliquam voluptas fugiat facilis
					nesciunt. Reprehenderit, necessitatibus dicta aut magni voluptate
					minima vel maxime adipisci repudiandae quasi ratione consequuntur
					iusto excepturi architecto, eveniet facere doloremque obcaecati vitae
					non dolor asperiores quaerat inventore commodi et? Hic explicabo
					excepturi itaque distinctio quia deserunt deleniti! Sunt id velit
					repudiandae quas ipsum error. Natus incidunt nostrum rerum vitae
					quibusdam aliquid quisquam nulla delectus fuga officia. Ab praesentium
					unde, illo architecto ipsa eius possimus hic optio a suscipit corrupti
					ipsum sit tempore at sapiente odit repellendus exercitationem debitis
					sequi rerum vero corporis velit id incidunt. Rerum aperiam possimus
					quidem facilis similique, nobis esse error nemo doloribus nam!
					Cupiditate blanditiis nulla nisi, ex in porro beatae, assumenda
					ratione odit provident itaque dicta quos facere labore eius error
					aperiam sed doloribus optio magnam! Omnis, aliquid. Commodi tempora
					accusamus doloremque eligendi expedita vitae officiis voluptates. Ut
					aspernatur impedit officiis sequi quam repudiandae voluptate nobis,
					voluptatibus blanditiis sed deserunt quidem fuga quo, quisquam saepe
					odio doloribus eum excepturi facilis optio eaque tenetur rem deleniti
					totam? Excepturi, omnis atque nemo suscipit iusto error et fugiat
					consequatur eligendi quod quasi iste illum non repellat, aliquam
					animi? Dolor quam, sapiente quos architecto facilis deserunt. Quas
					quia a similique voluptatibus saepe neque corporis illo amet
					cupiditate vel! Expedita delectus iste vitae necessitatibus ullam
					corrupti quod atque. Deleniti, voluptate suscipit. Optio tenetur
					laboriosam fugiat officia consequatur vitae quam itaque facere! Quia
					soluta inventore iure, architecto reiciendis nulla? Accusantium et
					voluptatum officiis dolores. Iure fugiat numquam nobis, nostrum earum,
					dolor quisquam accusantium tenetur natus excepturi ab! Totam dolore ea
					voluptatibus? Magnam dicta magni consectetur vitae soluta dolore animi
					ipsa beatae quasi corporis officiis provident, voluptas, aliquam id
					nemo perferendis doloribus nesciunt placeat, eos adipisci ad rem.
					Laboriosam veniam inventore eligendi pariatur eaque explicabo
					consequatur ex commodi. Itaque eius quasi laboriosam. Molestias
					provident cumque maiores iusto maxime dolores temporibus ducimus
					dolorum vitae fugiat sapiente ut, dolor neque culpa ex minus. Rem
					voluptatum quas blanditiis laborum. Sit distinctio recusandae officiis
					harum expedita omnis eos reprehenderit qui natus voluptatum pariatur
					aliquam unde nisi, tenetur rerum consectetur architecto velit eum
					dolores minima voluptatibus! Consequatur, nisi asperiores, laboriosam
					vero quibusdam praesentium consequuntur sequi aliquid id cum eum earum
					voluptates? Consequuntur quis blanditiis aspernatur nostrum dicta
					officia ea nemo nihil tempore vel rerum, quasi laudantium temporibus
					maxime recusandae inventore deleniti. Quidem illum inventore iure,
					omnis exercitationem eos sunt voluptates! Cumque, esse corrupti a
					laboriosam maxime quisquam enim eius voluptate eos sint officiis
					assumenda repellendus, quaerat voluptas et tenetur! Cupiditate
					praesentium doloribus harum! Minima expedita ut temporibus blanditiis
					corrupti modi, amet praesentium, est aliquam cupiditate sequi qui cum
					magni? Deleniti quo eligendi nostrum exercitationem repellat porro
					tenetur. Asperiores sint impedit fugiat mollitia consectetur, qui
					quibusdam esse accusamus tempore ducimus nesciunt itaque illo illum
					aliquam ratione commodi maxime! At officiis quas ipsum fugiat sunt
					assumenda minus. Laborum error earum totam id ad excepturi placeat
					enim tenetur vero eveniet praesentium mollitia sint veniam, molestiae,
					soluta quisquam magni accusantium corporis officia explicabo unde
					sequi quia distinctio nobis. Architecto atque ipsam itaque, minus modi
					fuga deleniti blanditiis fugit eveniet neque dignissimos eius, eum,
					illum optio repellendus incidunt ea. Quibusdam adipisci ducimus modi
					architecto. Blanditiis laboriosam totam, architecto impedit hic sint
					veniam nisi numquam velit magnam dolorum voluptate accusamus, unde
					asperiores esse quibusdam? Debitis dolore doloribus accusamus dolorum,
					ut possimus voluptatum repellendus saepe quas cum animi eaque aliquid!
					Ipsa nostrum quam nulla, ipsam molestiae dolorum consectetur in nemo
					delectus laborum quidem voluptates corrupti cum, odit, neque provident
					animi illo et ducimus odio dicta? In, voluptatum exercitationem
					accusantium reiciendis at a nam, aliquam blanditiis veniam quis
					tempore id iure fuga soluta ea, culpa earum similique? Tenetur ipsa
					ducimus atque illo, amet natus eveniet sint, ratione sequi fugiat
					reprehenderit deleniti autem omnis esse, at necessitatibus cum
					cupiditate architecto quaerat dicta perspiciatis et animi. Laudantium,
					mollitia. Voluptas, quae? Sapiente fugit impedit ipsam laboriosam
					aliquam harum, mollitia vitae facere, placeat ex accusamus! Iusto
					assumenda dolores recusandae impedit saepe corporis esse, dolorem,
					nisi optio dicta accusantium rerum dolorum enim consequuntur
					architecto eveniet repellendus autem! Dolorem obcaecati aliquam
					distinctio possimus similique consequatur quasi quidem dolor. Porro
					blanditiis illum maiores, architecto animi ad doloribus ullam,
					delectus inventore consequuntur ratione provident aperiam. Molestiae
					ut rerum doloremque asperiores, fuga corrupti. Cumque eligendi quia
					reiciendis ratione esse placeat consectetur, animi assumenda, dolor
					laudantium fuga dignissimos atque optio laborum praesentium
					asperiores, fugit nemo! Exercitationem explicabo odit dolorum expedita
					vitae corrupti blanditiis perferendis, quo et doloremque atque
					laudantium magni placeat reiciendis. Possimus nemo illum quia mollitia
					ipsum quae voluptatem voluptatibus ullam sed. Aperiam eum beatae,
					soluta fugiat atque error quis dolor officiis excepturi iure et quod
					rerum reprehenderit temporibus perspiciatis recusandae blanditiis
					consequatur maiores non facere. Porro adipisci nesciunt repellat ut
					animi blanditiis eum dolor voluptatibus, eaque modi praesentium fuga
					explicabo dolorem, est obcaecati laboriosam, minima voluptates numquam
					soluta fugit nisi nobis molestias? Vero ut eaque nulla nobis, repellat
					quibusdam porro deleniti ea incidunt cum, nisi officiis similique
					facere. Ipsam nostrum quibusdam cupiditate dolores veritatis error
					aperiam, rem praesentium deserunt harum, ullam nihil? Maiores porro
					ipsum veniam vero eos laudantium aspernatur eum aliquam distinctio
					voluptate? Fugit qui blanditiis dolores rem itaque molestias
					consequuntur beatae ad porro in consectetur ipsa, natus tempora, sequi
					aperiam eius, aliquid dolore illo amet. Eum, fugit reiciendis deserunt
					quidem dolore quam dolores numquam laborum odit nesciunt doloremque
					sint perferendis aliquam! Veniam, repellat earum? Quod quidem quisquam
					ipsam porro quae debitis dignissimos. Voluptatem rerum quibusdam
					facilis laboriosam dolores consectetur enim voluptatibus optio
					perferendis aliquam magnam, vel sint eveniet, nobis dignissimos ut
					fugit illum mollitia quos odio unde placeat pariatur cupiditate
					corporis? Deleniti sint omnis, ipsam vel provident nisi numquam, ea
					atque dolore est quos cupiditate id! Cupiditate nobis hic aliquid
					illum laboriosam veniam nemo, temporibus tempora exercitationem
					deserunt eaque, laudantium ipsa sit inventore pariatur aperiam totam
					placeat voluptate dolor? Delectus beatae perferendis inventore
					pariatur adipisci repudiandae quaerat nobis possimus sapiente velit
					quos eaque est, officiis animi consectetur doloribus nihil magni ipsum
					blanditiis corrupti provident itaque, dolorem similique! Facere magni
					quibusdam reprehenderit neque qui provident modi dolor eaque. Repellat
					assumenda at earum, eligendi cupiditate unde voluptatibus. Aperiam,
					numquam officiis molestiae iste commodi nostrum cupiditate perferendis
					quis eos natus incidunt alias nihil doloribus debitis mollitia ut
					sequi quo? Non natus, debitis atque dicta odio accusamus laudantium
					placeat ea corporis culpa ut minus earum quo cupiditate dolore ipsum
					qui mollitia alias autem dolores est! Quod libero dolorem distinctio
					sequi facere fugiat, quia culpa ipsa assumenda in! Inventore, tenetur
					voluptatibus? Delectus earum consectetur tempore deserunt distinctio
					incidunt blanditiis adipisci assumenda necessitatibus. Autem sunt
					quidem corrupti, veniam facere corporis nostrum perferendis! Animi
					earum quia odit, aliquam provident non repellendus maiores
					perspiciatis omnis, repellat sed repudiandae ratione optio nemo
					inventore tempore, laudantium quisquam. Blanditiis enim qui beatae
					consequuntur eos. Impedit obcaecati veniam quibusdam fugit, laudantium
					ullam id deserunt quos officia vero repellendus error rerum labore
					temporibus aspernatur totam fugiat culpa, deleniti recusandae, magnam
					esse non harum odit! Sequi architecto tempore perspiciatis doloribus
					qui commodi vero officiis obcaecati facilis esse, illum neque minus
					porro in ullam error unde veniam molestiae reiciendis quod aspernatur
					nobis! Impedit esse expedita totam id accusantium, at saepe nihil
					consequuntur voluptate, ab iste. Sequi cupiditate vero porro
					perferendis pariatur nobis, voluptate consequuntur in amet sunt
					reiciendis asperiores beatae quibusdam temporibus nulla esse quisquam
					voluptatibus nemo qui alias distinctio suscipit. Culpa error, eaque
					deleniti dolorum voluptate adipisci, illum ex, nihil sed temporibus
					placeat cumque voluptatum. Optio quae esse quam tempora eum voluptatum
					ea odit pariatur recusandae nulla quos, itaque praesentium. Eaque ab
					quia dolorum dicta fuga saepe ex rem, unde aliquam. A iste amet,
					repudiandae porro rem explicabo illo quisquam quod reprehenderit
					commodi accusantium alias, similique, unde quae placeat neque facere?
					Commodi sapiente excepturi assumenda aut. Sunt voluptas ipsam expedita
					mollitia quam aliquam? Aspernatur autem asperiores enim itaque
					consequuntur odit sunt, maxime nemo reiciendis fugit. Velit soluta
					atque officiis neque dignissimos fuga beatae deleniti earum laudantium
					reiciendis facere laboriosam, perferendis, adipisci a modi illum
					expedita. Amet, deserunt, impedit praesentium rerum odit, natus minus
					accusamus quod quidem culpa dolores veritatis qui ullam eveniet sequi
					optio esse perspiciatis. Rerum eveniet eaque sit nam quod libero est
					atque, veniam dolores nostrum inventore alias fugiat labore modi
					distinctio accusamus dicta vero tempore unde adipisci? Amet iure
					numquam delectus? Iste rem veritatis ipsa quo quos ad aliquid
					reprehenderit officiis id repudiandae voluptatem iure assumenda, totam
					perferendis cupiditate ab eos eligendi ratione. Labore commodi tempora
					fugit cumque similique facilis praesentium illum cum exercitationem,
					aliquid quasi nemo? Doloribus debitis dignissimos voluptates labore,
					voluptatum ab! Nobis, delectus sapiente dolorem ipsam ipsa facilis
					dolores voluptas explicabo quas obcaecati, optio atque voluptate
					reprehenderit veniam ea veritatis adipisci consectetur, ad quam. Optio
					amet ducimus itaque, consectetur aperiam quos? Nemo asperiores nisi
					temporibus expedita debitis quisquam incidunt consequatur reiciendis!
					Fuga, provident? Dicta, repudiandae consequatur nihil obcaecati
					voluptatum quo exercitationem provident praesentium consectetur modi,
					alias ipsa perferendis qui nulla quae eligendi dolorum eaque
					temporibus aspernatur. Explicabo sequi, maxime at doloribus nisi iure
					temporibus, aut odio vero maiores cum sapiente distinctio voluptatibus
					nostrum magnam itaque ipsam aperiam dolores rem quaerat eveniet a
					aspernatur quae. Est necessitatibus accusamus illo pariatur sunt enim
					ratione iure blanditiis in? Ex labore odio soluta debitis, commodi
					similique velit nulla inventore doloremque expedita officia placeat,
					excepturi aperiam iure laborum doloribus quidem? Doloremque molestias
					cum commodi, eaque, explicabo nemo maiores consectetur dignissimos
					reprehenderit mollitia blanditiis minus vel quisquam quidem sint quia
					deleniti, laborum voluptatum ea iure quaerat itaque beatae ad! Saepe
					voluptatum reiciendis laborum velit vel exercitationem, itaque ad
					adipisci nulla ipsum id soluta incidunt, harum illum numquam officia
					cumque. Minima quam sit ipsum nostrum, molestiae animi porro modi
					adipisci maiores dolorem voluptate quidem repellat dicta id,
					recusandae, numquam repellendus impedit necessitatibus cum aperiam
					delectus mollitia! Modi minima animi nesciunt voluptatem dolorem ab
					recusandae magnam alias eveniet distinctio reiciendis officia ullam
					repudiandae id nulla aut esse, quos neque et aliquid fugiat quas
					consequuntur? Non sed deserunt voluptate rerum exercitationem, illo
					tempora maiores, iusto assumenda culpa incidunt beatae alias amet
					neque dicta ea dolorem id inventore in dolore totam illum officiis
					sequi consectetur. Odit hic, optio accusamus adipisci provident
					aliquid exercitationem reprehenderit assumenda consequuntur fugiat
					fuga nobis illum in illo doloremque tempora facere, excepturi et,
					dolor officiis voluptates harum veritatis. Temporibus corrupti
					deleniti quia dolorum necessitatibus error mollitia dignissimos, ipsa
					aperiam saepe neque accusamus optio similique voluptate explicabo
					consectetur quas! Similique voluptatum illum saepe nesciunt officiis?
					Totam a dicta ut tempora at asperiores, aut, laudantium laboriosam
					sunt, tenetur ipsa iure? Incidunt ullam earum tempora facere
					perferendis dolores facilis at quas accusantium et maiores, ratione
					illo qui distinctio vero ut hic fugiat ea possimus quae ab animi,
					velit ex! Eum, quibusdam aut fuga quisquam reprehenderit neque
					pariatur omnis ab quaerat magni voluptates sunt rerum. A animi
					veritatis sunt, explicabo deserunt deleniti qui laboriosam
					perferendis, corporis reprehenderit vel cum eligendi sed aliquid
					nostrum esse ad? Magnam voluptates distinctio vitae cum atque eaque
					natus, maiores voluptate nisi doloremque beatae cupiditate, tenetur
					officia odit, asperiores totam mollitia neque soluta! Harum,
					architecto sit. Atque sint expedita animi natus itaque, facere,
					possimus adipisci quis ad fuga beatae nulla aliquam corporis
					provident. Omnis inventore optio illum, explicabo voluptates commodi,
					non nobis dolorem facilis magnam odit repellendus cumque tempore esse
					quasi sint reiciendis? Nulla iusto impedit quam natus, sit assumenda
					voluptates! Ipsam aperiam impedit earum ipsum nostrum porro sunt,
					autem quidem odio doloremque incidunt, distinctio numquam quasi iste,
					facere voluptas mollitia laboriosam illo. Possimus animi saepe non
					dignissimos impedit eos distinctio quae omnis! Vitae excepturi a
					libero delectus provident dolores numquam soluta, veniam odio, minus
					iusto sint deleniti deserunt sit itaque at doloremque dignissimos
					placeat, eum officia totam quo nam. Aliquid, suscipit obcaecati a unde
					quo quis temporibus deleniti voluptatibus dolore voluptatem sint
					praesentium adipisci rerum, cumque magni nesciunt, eius incidunt animi
					nobis deserunt dicta. Id architecto expedita illo maxime suscipit
					culpa quos corporis aperiam beatae ea, dolore, labore molestiae error
					ipsam quo, quas deleniti ab amet. Corporis fugiat nihil consequatur
					expedita amet veritatis, consequuntur aliquam qui optio laboriosam
					dolor reprehenderit magni doloremque rerum, voluptate sed repellendus
					error ad officia autem architecto possimus incidunt? Fugiat doloremque
					maxime repellat officia sapiente dolorum quo quidem consequuntur eius
					asperiores! Alias temporibus optio itaque libero culpa numquam, cumque
					voluptates ullam nam magnam laborum nihil omnis quaerat, deleniti
					veritatis modi hic velit aliquam a tenetur ipsa officia! Cupiditate
					sapiente voluptas placeat. Animi fugiat ullam vitae quas est magnam
					facilis voluptatem et eveniet libero, mollitia eum tempora illum
					accusamus! Voluptas laudantium distinctio corporis suscipit, veritatis
					eaque nam quidem doloribus fuga impedit soluta autem, quo magni, odio
					officia. Dolorem sapiente porro ipsum maxime deserunt beatae odit
					aperiam, quisquam dolores voluptate praesentium quidem ut enim
					delectus atque unde nihil dignissimos laborum nostrum repudiandae,
					commodi fuga corporis excepturi eveniet! Atque delectus, fuga, esse
					aspernatur cupiditate debitis iste provident laborum eaque fugit harum
					quam, animi sunt dolorem. Dignissimos harum necessitatibus ipsam
					distinctio iure quam inventore, voluptatem quos at, velit animi,
					cupiditate ratione earum quas officiis? Quos quo, sunt quod aliquam,
					velit totam quidem sapiente ipsam in corporis voluptas accusamus rerum
					doloribus hic reprehenderit, voluptatum perferendis! Facilis officia
					aspernatur odit, ea quod dolores repudiandae pariatur libero quisquam
					laboriosam quaerat unde esse laudantium! Quo laborum id similique fuga
					nam nesciunt odio dolores odit numquam et quaerat, consectetur autem
					eaque dolor nihil aliquam aut velit doloribus obcaecati asperiores.
					Sed eos magnam obcaecati dolore odit ipsum, eligendi, veniam qui ab,
					laboriosam excepturi asperiores iure velit fuga. Eius autem vel illo
					molestias id similique veniam tenetur totam aspernatur doloremque
					dolor molestiae ipsum, quidem est architecto earum non sint maiores
					dolorem beatae quia quis aliquid, corrupti tempora. Id error adipisci
					dolorem, iure esse labore? Provident, iure. Veniam numquam, ea fugiat
					tempora corporis expedita hic amet molestiae ex vitae atque alias
					quaerat ratione deleniti repellendus facilis vero rem assumenda,
					aliquam obcaecati dolor aut, iure dolorem! Id magni voluptatem
					corrupti labore? Quae, earum aperiam laborum nam explicabo voluptates
					qui numquam hic doloribus cupiditate tenetur repellat sint totam nulla
					delectus autem reiciendis corporis doloremque at ipsum ab eligendi ad
					sit? Id sed tempora, quia atque quos expedita rem recusandae, harum
					voluptatem nam, numquam odit alias laboriosam corrupti qui neque
					fugiat? Ullam corrupti illum delectus, et eligendi repellat. Ducimus,
					accusantium! Autem excepturi soluta corrupti odit quaerat modi libero
					perferendis, eum nisi magni, voluptas sequi vitae, iusto dolorem
					perspiciatis laboriosam! Laboriosam libero fugit, incidunt ut
					perferendis harum, a quas dolore debitis repudiandae voluptatibus sunt
					autem, cum placeat unde suscipit neque praesentium saepe dignissimos
					accusantium ipsam ipsum soluta corporis! Asperiores dolores fugiat
					consequatur reiciendis ipsum autem earum ad a, praesentium totam
					mollitia, est eos harum nesciunt perspiciatis sit illo possimus
					perferendis illum hic aliquam explicabo. Recusandae atque inventore
					voluptatibus adipisci sed, neque quam obcaecati, error autem, rerum
					doloremque qui dolor? Libero, officiis quae quia suscipit quo hic iste
					quisquam. Nostrum a necessitatibus molestiae minima corrupti debitis
					harum quidem consequatur provident, aperiam dolore, tenetur enim!
					Tempora ea ducimus provident doloremque facilis harum dolor ratione
					quidem repudiandae et hic a nulla ullam laudantium fugit in vero,
					aliquam, architecto eos vitae aspernatur quod eum dolorem incidunt?
					Incidunt, recusandae impedit aliquam, vel nesciunt, numquam esse
					fugiat est minima dolorem itaque beatae. Eveniet pariatur quos ipsam
					mollitia tempore saepe minus laboriosam molestias, est itaque natus
					consectetur nemo ducimus quis, consequuntur perspiciatis eligendi
					aliquid cupiditate magnam ipsum aspernatur laudantium enim nisi?
					Assumenda inventore at facilis maxime quos, modi corrupti similique
					quod illo aut, eius repellendus, eum aspernatur sunt dolor a sed!
					Error quaerat animi ratione inventore quibusdam earum quod aliquam,
					saepe ipsum tempore aperiam dolorum officia? Fugit in, maxime nisi,
					quis dolore iure pariatur minima deserunt illo neque tempore voluptas
					doloribus eaque deleniti fugiat dignissimos facilis accusamus at
					excepturi suscipit laborum amet sapiente, ratione error? Corporis
					dolorum quod recusandae magni, aliquam natus adipisci similique
					dignissimos, temporibus voluptatem maxime non, culpa expedita deserunt
					ratione. Distinctio, vel voluptas! Accusantium nam modi minima beatae?
					Porro cupiditate voluptates optio, eveniet ipsum delectus nostrum
					placeat magni enim facilis, nemo labore dolore, fugiat quam obcaecati.
					Accusantium vitae inventore repellat, odio rerum est non libero, quos
					officiis vero perspiciatis alias qui porro quia rem debitis cumque
					aliquam officia sapiente veniam consequuntur nesciunt consequatur et!
					Commodi assumenda vel, ipsum voluptate architecto sequi suscipit
					earum? Consequatur culpa, impedit quasi odio minima, qui corporis
					deleniti aliquam ut commodi exercitationem odit facere beatae incidunt
					aut voluptates provident voluptatum itaque dolore facilis deserunt
					maxime ea earum? Rem architecto odit autem inventore provident sed
					distinctio fugiat corrupti sapiente totam doloremque aspernatur
					facilis hic ducimus, quaerat eius libero ut velit illum soluta
					incidunt voluptatum adipisci. Aliquid dolores, cupiditate vitae natus
					nostrum architecto vel harum delectus labore quisquam! Magnam
					asperiores a harum itaque, praesentium eius voluptas eos facere
					commodi repellat placeat ut saepe architecto obcaecati repudiandae?
					Ullam a pariatur distinctio. Voluptas iure explicabo repellendus,
					distinctio aliquid in reprehenderit aut ullam consequuntur a unde
					perferendis nobis atque sint rem eius non nulla blanditiis, beatae
					labore qui voluptates ex maxime quis. Corrupti, tempore. Harum esse
					veritatis recusandae, a hic alias eos nihil nobis blanditiis ab et
					corporis, vitae possimus, ex ratione nemo dolor perspiciatis
					consequuntur explicabo! Dolor, perspiciatis! Adipisci molestiae, iusto
					explicabo ex suscipit repudiandae, odio minima quo voluptates dolor
					sint similique deserunt odit non! Iste nisi eveniet tempore asperiores
					explicabo dolore necessitatibus minus quas quasi. Adipisci sint
					dignissimos eligendi molestiae aspernatur aliquam quaerat nobis
					doloribus quia quos, praesentium consectetur minus? Sint delectus,
					inventore nesciunt impedit voluptas excepturi quaerat expedita.
					Doloremque voluptates voluptatibus quis, dicta voluptatem aut sint.
					Eos, in odio expedita fugiat et magni doloremque adipisci unde vitae?
					Nulla illum hic, corporis fugiat placeat voluptates explicabo enim
					illo voluptate harum rerum quam amet aspernatur exercitationem
					distinctio consequuntur temporibus nostrum dignissimos esse adipisci
					nemo. Quam, commodi. Doloremque repudiandae non temporibus saepe.
					Officiis, distinctio. Tempore culpa officiis harum, saepe repellat
					distinctio fuga eligendi illo eius quae quaerat non molestias
					voluptatum quam eveniet perspiciatis, aperiam expedita reprehenderit
					minima autem quasi commodi enim laboriosam dolorum! Maxime error eos
					voluptatem odio odit dicta, dignissimos culpa reprehenderit, rem
					tempora aperiam delectus facere totam quos omnis fugit amet tenetur
					eius eaque nobis similique ratione excepturi quia! Minima deserunt
					dolorem, expedita dolorum exercitationem, cum maxime in rerum modi
					asperiores quae esse sit repellat commodi harum voluptates. Similique
					doloribus sed deserunt pariatur, neque nulla fuga est! Eligendi ipsam
					soluta velit eius debitis repellendus accusamus perferendis, quibusdam
					voluptate. Officiis, voluptatum vel! Exercitationem reiciendis impedit
					obcaecati similique voluptates dolor libero expedita consequuntur.
					Vitae laudantium libero neque minus dolor nihil similique nam rem
					dicta inventore tempora officiis ipsa a, perspiciatis amet adipisci
					aperiam quibusdam vel! Fugit praesentium reiciendis aliquid cupiditate
					expedita porro sint quibusdam perspiciatis fuga. Minus, suscipit
					pariatur odit quidem temporibus aliquam saepe perferendis debitis
					praesentium maxime reprehenderit mollitia necessitatibus non id vel
					unde! Aspernatur minima quae accusantium eveniet officiis,
					consequuntur dolorum vitae non dolores modi eligendi voluptatibus
					quasi laborum aperiam fugiat consectetur, quas earum nihil saepe
					molestias adipisci voluptate, tempora nostrum. Dolor, quo tempora.
					Velit inventore deserunt quaerat. Dolor sint, magni quae, saepe
					aperiam hic totam eos dolorum labore quis atque incidunt minus libero
					laboriosam blanditiis nisi! Maiores, tenetur hic reiciendis neque
					voluptatum expedita quos amet distinctio ipsum ut placeat architecto
					odio deserunt at voluptatibus voluptate mollitia delectus unde est
					dolorum dolores, repudiandae sit. Cupiditate aut provident tempora,
					aliquam doloremque eius et accusantium officiis fuga voluptate
					praesentium qui tempore placeat libero eligendi expedita inventore
					voluptates cum, commodi explicabo nesciunt earum id! Deserunt
					temporibus aspernatur maxime fugit sed eos saepe alias aperiam eum,
					unde sapiente illum explicabo natus quam autem commodi, consequuntur
					aliquid porro voluptatem, molestias necessitatibus. Vero, odio! Odio
					atque eius consequuntur dolorum ipsum officia. Repellat deserunt
					numquam eos quasi rem, harum nobis tenetur iste, accusantium magni
					magnam explicabo assumenda accusamus laboriosam odio architecto sed
					impedit quam? Placeat nemo natus nisi sint numquam porro maiores amet
					voluptatem velit pariatur, explicabo deleniti nulla ex iste saepe
					praesentium sapiente laborum nesciunt odio voluptates omnis
					doloremque, quas ullam? Ad suscipit aut non animi obcaecati, natus
					quos nam beatae itaque dolores ab repudiandae sunt! Sint eum cum
					reprehenderit quis illum, animi nisi, perspiciatis, dolor iure laborum
					nihil aperiam? Dignissimos reiciendis fugit odio atque expedita
					delectus nihil facilis, sapiente consequatur quibusdam perferendis
					voluptate in accusamus ullam dolorem non sit aperiam nobis a beatae
					libero debitis. Quos culpa recusandae labore explicabo. Placeat,
					temporibus. Maxime aperiam sit unde harum omnis molestiae reiciendis
					sequi similique. Ipsum dicta, repellat optio, nobis temporibus aliquid
					odio, at rem voluptate vitae dolores perferendis cupiditate. Ullam
					omnis animi iste temporibus expedita hic blanditiis cupiditate in non
					minima debitis enim ratione sequi tempora totam dolore unde id nostrum
					optio aperiam autem, sit possimus eum ipsum. Mollitia nisi asperiores
					tempora et? Consectetur quod nobis, ullam facilis vero excepturi
					labore. Explicabo amet inventore vitae magni consequatur esse
					architecto similique, labore ullam quod recusandae sed dolorum ducimus
					ea tenetur facilis, itaque laboriosam animi eius impedit sunt?
					Consectetur ipsum ratione numquam alias natus dignissimos porro odio
					exercitationem ad veniam, dolore, aut facere dolorum enim soluta,
					saepe incidunt aspernatur assumenda nam sint pariatur eos quisquam
					repudiandae autem? Saepe, accusamus neque magni enim modi eaque
					laborum. Aliquam at deserunt vitae? Est fugiat nesciunt odio. Quia
					possimus nihil, deleniti cumque quaerat, aperiam minus maxime suscipit
					vitae molestias debitis nisi provident consectetur quidem itaque vel
					quas. Doloremque, temporibus? Soluta quae sed quas doloremque numquam
					distinctio eaque odit voluptatibus possimus. Earum quis voluptatibus
					laborum quia consequuntur quibusdam vel provident necessitatibus sunt.
					Voluptate, commodi. Magni repudiandae tenetur amet provident! Debitis
					dolores praesentium quaerat dicta sed odit et quae deleniti, eius fuga
					molestias distinctio laboriosam velit officiis fugiat provident enim
					atque? Harum nostrum, repellendus optio dignissimos praesentium,
					tenetur sapiente aliquam rem, facere porro voluptates culpa ab ut
					assumenda quod nihil labore minus quas quisquam exercitationem atque
					ducimus perspiciatis fugit. Accusantium deleniti qui quas. Voluptatum
					quam vero exercitationem perferendis, deleniti officiis ipsum sit
					incidunt dolorem facere. Corrupti nisi alias nesciunt dolor provident
					eligendi officiis tempora quia accusantium consectetur delectus
					dolorum doloremque quidem laboriosam quis nulla deserunt praesentium
					recusandae odit ad ex, voluptates esse harum nihil. Nulla suscipit
					harum eius quam eaque minus mollitia voluptatibus. Minima molestiae
					officiis, velit quis enim at distinctio laboriosam amet. Vero ipsam
					laudantium rerum a dolore expedita fuga explicabo aliquid? Atque neque
					voluptate, ratione cum velit fuga ad similique delectus molestiae
					sunt. Sunt sequi earum rem sint quae, ratione, quod dolor dolorum,
					ipsa vel praesentium sed autem voluptatibus atque. Perferendis
					possimus autem, sit velit reiciendis saepe ipsa quae nesciunt, ratione
					ut laboriosam id exercitationem necessitatibus omnis enim perspiciatis
					ea esse. Eius in ullam consequuntur autem earum doloremque expedita
					quisquam! Vitae aperiam nostrum qui autem natus doloribus assumenda in
					laborum modi ut quo fuga animi, sit tempore ratione! Beatae accusamus
					corrupti quod rerum deleniti iure at, temporibus libero quam dolor
					sunt dolores doloribus rem voluptates autem quia ex cumque minus vel.
					Dolor impedit quod reprehenderit omnis porro doloremque exercitationem
					eius minima facere tempore voluptatum, facilis quibusdam ea nobis
					necessitatibus quis voluptate quam libero laborum esse eveniet. Error
					voluptate, deleniti, fugiat id consectetur corrupti impedit veritatis
					labore obcaecati facilis quis ullam expedita? Voluptatem tenetur ea
					magni atque, ipsum ex blanditiis voluptates! Consequuntur voluptatem
					doloribus natus libero iste consectetur facere culpa doloremque
					dignissimos. Pariatur nihil quos adipisci labore quis cum ullam
					veniam? Ex tenetur repellendus eos repudiandae adipisci incidunt
					dolorum magni, in quasi. Sit aspernatur exercitationem, asperiores
					ratione mollitia distinctio ex eligendi impedit laboriosam placeat,
					dignissimos, magnam quam nemo? Numquam totam, nesciunt est quasi ab
					doloribus amet delectus nisi! Esse repellat vero dolorem tenetur
					corporis, explicabo voluptas quia id mollitia nulla, inventore
					obcaecati tempore aperiam nemo delectus ipsa ratione aspernatur quam
					omnis ipsam. Dicta veniam amet expedita dignissimos earum dolores
					odio, perferendis atque deleniti ullam reiciendis sapiente tempora
					assumenda vero quo fuga, distinctio sunt, cupiditate maxime! Beatae
					aut nisi in architecto quam eius! Repellat rem iste illum ut sapiente
					modi, eligendi qui vitae, blanditiis quaerat voluptatibus ex
					recusandae reiciendis, tempore sequi nobis voluptates explicabo sunt!
					Dolorum doloribus quas tempore dicta, ut natus nesciunt libero ipsam
					atque vitae, veritatis impedit vel nemo fuga reiciendis modi
					blanditiis vero officia, consequatur totam magnam. Laborum unde eos
					hic voluptatibus. Accusamus, debitis?
				</SubCntBox>
				<SubCntBox subCntTit="Solutions Portfolio" id="box3">4</SubCntBox>
			</div>
			<!-- 콘텐츠를 추가 내용 작성 eee -->
		</SubContent>
	</SubLayout>
</Layout>
