---
import Layout from "../../layouts/Layout.astro";
import Header from "../../layouts/Header.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubContent from "../../components/SubContent.astro";
import SubBanner from "../../components/SubBanner.astro";
import SubMenu from "../../components/SubMenu.astro";
import { technologyMenuItems } from "../../data/menus/technologyMenu.js";
import "../../css/ui.css";

const pageTitle = `Home > Technology`;
---

<Layout pageTitle={pageTitle} idName="Technology">
	<Header type="sub" />
	<SubBanner title="Technology" />
	<SubLayout>
		<SubMenu items={technologyMenuItems} />
		<SubContent subCntTit="DRM Solution Key Points">
			<!-- TODO 콘텐츠를 추가 내용 작성 -->
			<div id="wrap2">
				<section class="box1"></section>
				<section class="box2"></section>
				<section class="box3"></section>
				<section class="box4"></section>
				<section class="box1"></section>
				<section class="box2"></section>
				<section class="box3"></section>
				<section class="box4"></section>
				<section class="box1"></section>
				<section class="box2"></section>
				<section class="box3"></section>
				<section class="box4"></section>
			</div>
			<!-- 콘텐츠를 추가 내용 작성 eee -->
		</SubContent>
	</SubLayout>
</Layout>
