---
import Layout from "../../layouts/Layout.astro";
import Header from "../../layouts/Header.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubContent from "../../components/SubContent.astro";
import SubBanner from "../../components/SubBanner.astro";
import SubMenu from "../../components/SubMenu.astro";
import SubCntBox from "../../components/SubCntBox.astro";
import { SolutionsMenu } from "../../data/menus/SolutionsMenu.js";
import "../../css/ui.css";

const pageTitle = `Home > Solutuions`;
---

<Layout pageTitle={pageTitle} idName="Solutions">
	<Header type="sub" />
	<SubBanner title="Solutions" bgUrl="bg-intro" />
	<SubLayout>
		<SubMenu items={SolutionsMenu} />
		<SubContent>
			<!-- TODO 콘텐츠를 추가 내용 작성 -->
			<div id="wrap2">
				<SubCntBox subCntTit="Turn-Key Approach with α-OrionTM" id="box0">
					<div class="solu-menu01">
						<p>When R&D time is short or the resource is limited</p>
						<img src="../../img/img04.png" alt="" />
					</div>
				</SubCntBox>
				<SubCntBox subCntTit="SW Architecture Subsystem Type" id="box1">
					<div class="solu-menu02 sw-type">
						<img src="../../img/img05.png" alt="" />
						<div class="sw-type-wrap">
							<div>
								<p class="sw-type-tit">
									Hybrid Approach with <span>α-OrionTM</span>
								</p>
								<p class="sw-type-txt">
									When R&D time is short or resource is limited
								</p>
							</div>
							<div class="ico-wave"></div>
						</div>
					</div>
				</SubCntBox>
				<SubCntBox subCntTit="α-OrionTM Model Role & Responsibility" id="box2">
					<div class="solu-menu03 role-table">
						<div class="con-left-wrap">
							<p>Quick & Easy</p>
							<div class="ico-wave"></div>
						</div>
						<div class="con-right-wrap">
							<div class="role-table-wrap">
								<table style="undefined;table-layout: fixed; width: 770px">
									<colgroup>
										<col style="width: 200px" />
										<col style="width: 180px" />
										<col style="width: 180px" />
										<col style="width: 180px" />
										<col style="width: 180px" />
									</colgroup>
									<thead>
										<tr>
											<th rowspan="2">Task</th>
											<th colspan="2">R2D</th>
											<th colspan="2">Customer</th>
										</tr>
										<tr>
											<th>Role</th>
											<th>Duty</th>
											<th>Role</th>
											<th>Duty</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Graphic HMI</td>
											<td>No</td>
											<td>provides example</td>
											<td>Yes</td>
											<td>Implementation</td>
										</tr>
										<tr>
											<td>HMI ↔ α-Orion API</td>
											<td>Together</td>
											<td>Implementation</td>
											<td>Together</td>
											<td>Implementation</td>
										</tr>
										<tr>
											<td>Radio Control (Analog)</td>
											<td>Yes</td>
											<td>Provide suggestion</td>
											<td>No</td>
											<td>Define Scenario</td>
										</tr>
										<tr>
											<td>Radio Control (Digital)</td>
											<td>Yes</td>
											<td>Provide suggestion</td>
											<td>No</td>
											<td>Define Scenario</td>
										</tr>
										<tr>
											<td>Digital Radio Proc.</td>
											<td>Yes</td>
											<td>Implementation</td>
											<td>No</td>
											<td>-</td>
										</tr>
										<tr>
											<td>SoC I/F</td>
											<td>Yes</td>
											<td>Implementation</td>
											<td>No</td>
											<td rowspan="2">Provides HW platform</td>
										</tr>
										<tr>
											<td>RF Tuner I/F</td>
											<td>Yes</td>
											<td>Implementation</td>
											<td>No</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="note-wrap">
								<p>note</p>
								<ul>
									<li>
										R2D can provide example Android base Graphic HMI for
										reference review purpose only.
									</li>
									<li>Customer may outsource to R2D for HMI implementation.</li>
									<li>
										Customized or additional API can be implemented upon
										request.
									</li>
									<li>Radio Control scenario needs to be discussed.</li>
								</ul>
							</div>
						</div>
					</div>
				</SubCntBox>
				<SubCntBox subCntTit="DAB Solution4" id="box3">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio officia
					molestias nostrum a, eligendi temporibus laudantium nisi, ex voluptate
					ut officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis. Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis. Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.
				</SubCntBox>
				<SubCntBox subCntTit="DAB Solution5" id="box4">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio officia
					molestias nostrum a, eligendi temporibus laudantium nisi, ex voluptate
					ut officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis. Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis. Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Optio officia molestias
					nostrum a, eligendi temporibus laudantium nisi, ex voluptate ut
					officiis quod natus dolorum explicabo ipsum autem dolor accusamus
					nobis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
					officia molestias nostrum a, eligendi temporibus laudantium nisi, ex
					voluptate ut officiis quod natus dolorum explicabo ipsum autem dolor
					accusamus nobis.Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Optio officia molestias nostrum a, eligendi temporibus
					laudantium nisi, ex voluptate ut officiis quod natus dolorum explicabo
					ipsum autem dolor accusamus nobis.Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Optio officia molestias nostrum a,
					eligendi temporibus laudantium nisi, ex voluptate ut officiis quod
					natus dolorum explicabo ipsum autem dolor accusamus nobis.
				</SubCntBox>
			</div>
			<!-- 콘텐츠를 추가 내용 작성 eee -->
		</SubContent>
	</SubLayout>
</Layout>
