<div class="com-popup-wrap">
	<div class="com-popup">
		<div class="popup-header flex aic jcb">
			<h2>If you have any questions for our team, we're here for you.</h2>
			<span class="close">
				<a href="#">
					<img
						src="../img/close-pop.svg"
						alt=""
						style="width: 15px;    position: relative;
          top: 2px;"
					/>
				</a>
			</span>
		</div>
		<div class="popup-info">
			<form action="#" method="post" id="contactForm">
				<div class="form-group">
					<label for="company">Company <span>*</span></label>
					<input type="text" id="company" name="company" required />
				</div>
				<div class="form-group">
					<label for="name">Name <span>*</span></label>
					<input type="text" id="name" name="name" required />
				</div>
				<div class="form-group">
					<label for="phone">Phone <span>*</span></label>
					<input type="tel" id="phone" name="phone" required />
				</div>
				<div class="form-group">
					<label for="email">E-mail <span>*</span></label>
					<input type="email" id="email" name="email" required />
				</div>
				<div class="form-group">
					<label for="message">Leave Your Message <span>*</span></label>
					<textarea id="message" name="message" required></textarea>
				</div>
				<button type="submit" class="submit-button">Submit</button>
			</form>
		</div>
	</div>
	<div class="bg"></div>
</div>

<script>
	(function () {
		setTimeout(function () {
			//스크롤 위치값이 맨밑으로 갔을때 실행되는 로직
			const $close = document.querySelector(".com-popup-wrap .close");
			const $body = document.querySelector("body");

			$close.addEventListener("click", function (e) {
				e.preventDefault();
				this.closest(".com-popup-wrap").classList.remove("on");
				$body.classList.remove("on");
			});
		}, 10);

		// 폼에 대한 참조를 가져오고, 'submit' 이벤트 리스너를 추가합니다.
		document.querySelector("#contactForm")?.addEventListener("submit", function (e) {
				// 기본 폼 제출 동작을 방지합니다.
				e.preventDefault();

				// 폼 입력 필드에서 데이터를 가져와 객체로 구성합니다.
				let data = {
						company: document.querySelector("#company").value,
						name: document.querySelector("#name").value,
						phone: document.querySelector("#phone").value,
						email: document.querySelector("#email").value,
						message: document.querySelector("#message").value,
				};

				// fetch API를 사용하여 서버에 POST 요청을 보냅니다.
				fetch("http://localhost:3000/send-email", {
						method: "POST", // HTTP 메소드 지정
						headers: {
								// 서버로 보내는 요청 본문(body)이 JSON 형식임을 서버에 알려주는 역할
								"Content-Type": "application/json",
						},
						body: JSON.stringify(data), // JavaScript 객체를 JSON 문자열로 변환하여 요청 본문에 담습니다.
				})
				.then((response) => response.text()) // 응답을 텍스트로 변환합니다.
				.then((data) => {
						// 응답이 성공적으로 처리된 경우 콘솔에 'Success' 메시지를 출력합니다.
						console.log("Success", data);
				})
				.catch((error) => {
						// 오류 발생 시 콘솔에 'Error' 메시지를 출력합니다.
						console.error("Error", error);

				});
		});
	})();
</script>
