---
const { title, bgUrl } = Astro.props;
---

<div class="sub-banner" style=`background-image:url(../../img/${bgUrl}.png)`>
	<div class="inner">
		<article>
			<h1>
				{title}
			</h1>
		</article>
	</div>
</div>
