@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: 75%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.header {
  position: fixed !important;
  z-index: 10;
  top: 0;
  height: 80px;
  border-bottom: 1px solid #aaa;
}
.header.sub {
  background: #fff;
}
.header.sub .gnb > li > a {
  color: #000;
}
.header.sub .gnb > li .sub-menu {
  top: 94px;
}
.header .inner {
  height: 100%;
}
.header .logo {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  width: 158px;
  height: 32px;
  background: #aaa;
}
.header .logo a {
  display: block;
  height: 100%;
}
.header .gnb {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .gnb > li {
  height: 100%;
}
.header .gnb > li:last-of-type {
  padding-right: 0;
}
.header .gnb > li > a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 67px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  z-index: 10;
}
.header .gnb > li .sub-menu {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  position: absolute;
  top: 70px;
  background: #fff;
  min-width: 220px;
  padding: 20px;
}
.header .gnb > li .sub-menu li {
  text-align: center;
}
.header .gnb > li .sub-menu li a {
  display: inline-block;
  padding: 10px 0px;
  color: #000;
}
.header .gnb > li .sub-menu li a:hover {
  color: #A265CA;
}
.header .gnb > li.on .sub-menu {
  opacity: 1;
  visibility: visible;
}

.inner {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

#wrap > div {
  width: 100%;
  position: relative;
}

.box1 {
  height: 600px;
  background: lightblue;
}

.box2 {
  height: 400px;
  background: pink;
}

.box3 {
  height: 800px;
  background: orange;
}

.box4 {
  height: 1500px;
  background: violet;
}

#navi {
  position: fixed;
  right: 50px;
  top: 50%;
  margin-top: -60px;
}

#navi li {
  width: 20px;
  height: 20px;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#navi li.on {
  background: #000;
}

.v-motion {
  animation: motion-fadeInLeft 0.5s ease-in-out;
}

.v-motion-fast {
  animation: motion-fadeInLeft 1s ease-in-out;
  animation-delay: 0.1s;
}

@keyframes motion-fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.sub-banner {
  margin-top: 80px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.sub-banner .inner {
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-banner .inner article {
  opacity: 0;
  z-index: 1;
}
.sub-banner .inner article.on {
  display: block;
  opacity: 1;
  z-index: 2;
}
.sub-banner .inner article.on h1 span {
  transform: translateY(0%);
}
.sub-banner .inner article h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 500;
  overflow: hidden;
  line-height: 2;
  padding-right: 10px;
}
.sub-banner .inner article h1 span {
  display: inline-block;
  transform: translateY(100%);
  transition-duration: 0.5s;
  text-shadow: 10px 10px 0 rgba(255, 255, 255, 0.5);
}

.sub-layout {
  padding: 80px 0;
}
.sub-layout .inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: flex-start;
}
.sub-layout .sub-menu {
  position: sticky;
  top: 110px;
  flex: 0 0 200px;
}
.sub-layout .sub-menu:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  height: calc(100% - 13px);
  width: 2px;
  background: #A265CA;
}
.sub-layout .sub-menu > ul {
  margin-top: -12px;
}
.sub-layout .sub-menu > ul > li {
  padding-left: 22px;
}
.sub-layout .sub-menu > ul > li > a {
  display: inline-block;
  padding: 12px 0;
  font-size: 16px;
  color: #000;
}
.sub-layout .sub-menu > ul > li > a:hover {
  color: #A265CA;
}
.sub-layout .sub-menu > ul > li.on {
  color: #A265CA;
  position: relative;
}
.sub-layout .sub-menu > ul > li.on:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  background: #A265CA;
  border-radius: 50%;
  left: -5px;
  top: 14px;
}
.sub-layout .sub-menu > ul > li.on > a {
  color: #A265CA;
}
.sub-layout .sub-menu > ul > li.on .level2-menu {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.sub-layout .sub-menu > ul > li .level2-menu {
  padding-left: 20px;
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.sub-layout .sub-menu > ul > li .level2-menu li {
  padding: 5px 0;
}
.sub-layout .sub-menu > ul > li .level2-menu li a {
  position: relative;
  display: inline-block;
  color: #666;
  padding: 4px 0;
  font-size: 14px;
}
.sub-layout .sub-menu > ul > li .level2-menu li a:before {
  content: "";
  display: block;
  position: absolute;
  left: -19px;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 1px;
  background: #666;
}
.sub-layout .sub-menu > ul > li .level2-menu li a:after {
  content: "";
  display: block;
  position: absolute;
  left: -19px;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 1px;
  background: #666;
}
.sub-layout .sub-menu > ul > li .level2-menu li a:before {
  transform: translateY(-2px) rotate(45deg);
}
.sub-layout .sub-menu > ul > li .level2-menu li a:after {
  transform: translateY(2px) rotate(-45deg);
}
.sub-layout .sub-menu > ul > li .level2-menu li a:hover {
  color: #A265CA;
}
.sub-layout .sub-menu > ul > li .level2-menu li.on a {
  color: #A265CA;
}
.sub-layout .sub-menu > ul > li .level2-menu li.on a::before, .sub-layout .sub-menu > ul > li .level2-menu li.on a::after {
  background: #A265CA;
}
.sub-layout .sub-contents {
  flex: 1;
  background: #fff;
}
.sub-layout .sub-contents .sub-title {
  text-align: center;
  font-size: 45px;
  color: #262626;
  margin-top: 58px;
  padding-bottom: 64px;
}
.sub-layout .sub-contents .sub-title:nth-of-type(1) {
  margin-top: 0;
}

/*이은영*/
/*김영은*/
a:link,
a:visited,
a:visited,
a:visited {
  color: inherit;
}

.header2 {
  margin: 0 auto;
  background: #d9d9d9;
}
.header2 nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header2 nav .nav-logo {
  margin-right: 200px;
}
.header2 .nav-menu {
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  display: flex;
  text-align: center;
  height: 100%;
}
.header2 .nav-menu li {
  width: 250px;
  height: 100%;
}
.header2 .nav-menu li.on .sub-menu {
  display: block;
}
.header2 .nav-menu li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header2 .nav-menu .sub-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  bottom: -192px;
}
.header2 .nav-menu .sub-menu li {
  background: #fff;
  color: #000;
  padding: 23px;
  font-size: 18px;
  font-weight: 500;
}

/*이찬용*/

/*# sourceMappingURL=ui.css.map */
