@mixin bg-url($path, $img, $op-default: false, $op-p: null, $op-s: null) {
	background-image: urlPath($path, $img);
	background-repeat: no-repeat;

	@if ($op-default) {
		@include bg-op;
	}

	@if $op-p and $op-s {
		@include bg-op($p: $op-p, $s: $op-s);
	} @else if $op-p {
		@include bg-op($p: $op-p); 
	} @else if $op-s {
		@include bg-op($s: $op-s);
	}
}
@mixin bg-op($p: center, $s: cover, $r: no-repeat) {
	background-position: $p;
	background-size: $s;
	background-repeat: $r;
}
