.com-title{
  font-size: 3rem;
  font-weight: 500;
  color: #F29F05;
  text-align: center;
  margin-bottom: 3.4375rem;
  line-height: 1;
}
.tar{
  text-align: right;
}
.tac{
  text-align: center;
}
.tal{
  text-align: left;
}