body,html{
  background: #000;
}
.inner{
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

#wrap>div { width:100%; position:relative; }
.box1 { height:600px; background:lightblue;}
.box2 { height:400px; background:pink;}
.box3 { height:800px; background:orange;}
.box4 { height:1500px; background:violet;}

#navi { position:fixed; right:50px; top:50%; margin-top:-60px;}
#navi li { width:20px; height:20px; background:#fff; margin-bottom:10px; border-radius:10px; cursor:pointer;}
#navi li.on { background:#000;}

.v-motion {
  animation: motion-fadeInLeft 0.5s ease-in-out;
}

.v-motion-fast {
  animation: motion-fadeInLeft 1s ease-in-out;
  animation-delay: 0.1s;
}

@keyframes motion-fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}