.header {
	position: fixed !important;
	z-index: 10;
	top: 0;
	height: 5rem;
	border-bottom: 0.0625rem solid #aaa;
	&.sub {
		background: #fff;
		.gnb > li > a {
			color: #000;
		}
		.gnb > li .sub-menu {
			top: 5.875rem;
		}
	}
	.inner {
		height: 100%;
	}
	.logo {
		@include poa-y;
		left: 0;
		width: 9.875rem;
		height: 2rem;
		background: #aaa;
		z-index: 1000;
		a {
			display: block;
			height: 100%;
		}
	}
	.gnb {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		> li {
			height: 100%;
			&:last-of-type {
				padding-right: 0;
			}
			> a {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				padding: 0 4.1875rem;
				color: #fff;
				font-size: 1.25rem;
				font-weight: 500;
				position: relative;
				z-index: 10;
			}
			.sub-menu {
				opacity: 0;
				visibility: hidden;
				transition: all 0.4s;
				position: absolute;
				top: 4.375rem;
				background: #fff;
				min-width: 13.75rem;
				padding: 1.25rem;

				li {
					text-align: center;
					a {
						display: inline-block;
						padding: 0.625rem 0rem;
						color: #000;
						&:hover {
							color: $main-color;
						}
					}
				}
			}

			&.on .sub-menu {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.mobile-nav {
		position: absolute;
		display: none;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 101;

		.menu-toggle {
			cursor: pointer;
			span {
				display: block;
				width: 25px;
				height: 3px;
				margin-bottom: 5px;
				background-color: #333;
			}
			span:nth-child(1) {
				top: 0;
			}
			span:nth-child(2) {
				top: 10px;
			}
			span:nth-child(3) {
				bottom: 0;
			}
			&.active {
				span:nth-child(1) {
					position: relative;
					top: 10px;
					transform: rotate(45deg);
				}

				span:nth-child(2) {
					position: relative;
					opacity: 0;
				}

				span:nth-child(3) {
					position: relative;
					bottom: 6px;
					transform: rotate(-45deg);
				}
			}
		}
	}
	.mobile-menu {
		background: #fff;
		display: none; // 메뉴를 기본적으로 숨깁니다.
		width: 100%;
		position: relative;
		z-index: 100;
    padding-top: 4rem;
		&.active {
			display: block;
		}
		li {
			padding: 10px;
			border-bottom: 1px solid #ddd;

			a {
				text-decoration: none;
				color: #333;
        font-size: 1.5rem;
			}

			.submenu {
				display: none; // 서브메뉴를 기본적으로 숨깁니다.
				&.active {
					display: block;
				}
				li {
					padding: 5px 10px;
					border-bottom: 1px solid #eee;
					a {
						color: #555;
					}
				}
			}
		}

		.submenu-toggle {
			cursor: pointer;
		}
	}
}
