---
import navMenu from "../../../nav.js";

// 2가지 (메인화면, 서브화면일때) headerType 설정
type HeaderProps = {
	type: "main" | "sub";
	title: string;
};

// Prop 받기
const { type } = Astro.props as HeaderProps;
---

<!-- Hedaer --><!-- 'main','sub' 타입에 따라 다른 내용 랜더링 -->
<div id="header" class={type === "main" ? "header" : "header sub"}>
	<div class="inner">
		<h1 class="logo">
			<a href="../main/main.html"> </a>
		</h1>
		<ul id="gnb" class="gnb">
			{
				navMenu.map(function (el) {
					return (
						<li>
							<a href={`../sub/${el.url}.html`}>{el.title}</a>
							{el.items ? (
								<ul class="sub-menu">
									{el.items.map(function (a) {
										return (
											<li>
												<a href={`../sub/${a.url}.html`}>${a.title}</a>
											</li>
										);
									})}
								</ul>
							) : null}
						</li>
					);
				})
			}
		</ul>
	</div>
</div>
<!-- Hedaer eee -->
