---
const { pageTitle, idName } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="프로젝트 설명" />
		<meta name="viewport" content="width=device-width" />
		<!-- 스타일 -->
		<link rel="stylesheet" href="../../css/ui.css" />
		<!-- 스타일 eee-->
		<title>{pageTitle}</title>
	</head>
	<body>
		<main id={idName} class={idName}>
			<div id="wrap">
				<slot />
			</div>
		</main>

		<!-- 스크립트 -->
		<script defer src="../../public/js/gnb.js"></script>
		<script defer src="../../public/js/subMenu.js"></script>
		<script defer src="../../public/js/scroll.js"></script>
		<script defer src="../../public/js/textAni.js"></script>
		<script defer src="../../public/js/subMenuScroll.js"></script>
		<script defer src="../../public/js/common.js"></script>
		<!-- 스크립트 eee-->
	</body>
</html>
