---
import ComContact from "../components/ComContact.astro";
import ComContactPopup from "../components/ComContactPopup.astro";
import Footer from "../layouts/Footer.astro";
const { pageTitle, idName } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="프로젝트 설명" />
		<meta name="viewport" content="width=device-width" />
		<!-- 스타일 -->
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
		<link rel="stylesheet" href="/css/ui.css" />
		<!-- 스타일 eee-->
		<title>{pageTitle}</title>
	</head>
	<body>
		<main id={idName} class={idName}>
			<div id="wrap">
				<slot />
			</div>

			<ComContact />
			<ComContactPopup />
			
		</main>

		<!-- 스크립트 -->
		<script defer src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script defer src="/js/gnb.js"></script>
		<script defer src="/js/subMenu.js"></script>
		<script defer src="/js/scroll.js"></script>
		<script defer src="/js/textAni.js"></script>
		<script defer src="/js/subMenuScroll.js"></script>
		<script defer src="/js/common.js"></script>
		<script defer src="/js/SolutionsTab.js"></script>
		<!-- 스크립트 eee-->
	</body>
</html>
